<h2>Burgers You Love!</h2><br>


<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<div class="col">
<table class="burgerD">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-devour-block}}
    {{/if}}
    {{/each}}
    </table>
</div>


<h4>Add a burger you want to eat and click the "Submit" button</h4> 
<form class="create-form">

    <div class="new-burger">
        <input type="text" id="burger">
    </div>
    <button type="submit">Submit</button>

    <div class="eat-burger">
        <input type="button" id="devour"><label>Devour It!</label>

    </div>
</form>